@import url('http://fonts.googleapis.com/css?family=Lato:400,700');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato',sans-serif;
}
body{
  background: #282727;
  overflow: hidden;
}
::selection{
  background: rgba(26,188,156,0.3);
}
.container{
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
}
.wrapper{
  width: 100%;
  background: #282727;
}
.wrapper .title{
  height: 90px;
  background: #282727;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}

.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 10px;
  border-radius: 5px;
  border: 2px solid #D9D9D9;
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: #282727;
  color: #fff;
 
}
.form-log{
  font-style: italic;
}
form .row input:focus{
  border-color: #16a085;
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
  color: #999;
  font-style: italic;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #16a085;
  border: 1px solid #16a085;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: #548687;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
}

.error{
  color: red;
  font-weight: bold;
  margin-left: 5em;
  font-size: 17px;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #6DA34D;
  cursor: pointer;
}

.extra-buttons-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.p-extra-buttons-container{
  margin-top: 0.5em;
  color: #8D9392;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

.extra-buttons{
  width: 50%;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #6DA34D;
  cursor: pointer;
  border-radius: 5px;
  border-radius: 5px;
  border: 0.25px solid #282727;
}

.down-box {
  bottom: 0;
  position:absolute;
  width: 100%;
  color: #000000;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  background: #D9D9D9;
  overflow: hidden;
  padding: 30px;
  border-radius: 10px 10px 0px 0px;
}


