<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>

    <div class="down-box">Pre Alpha ver 0.2</div>

    <div class="container">
        <p class="text">If you want to enjoy our app please</p>
        <div class="row-button">
            <input type="submit" routerLink="/signIn" value="Sign In">
        </div>

        <p class="text">Or, if you already have an account</p>
        <div class="row-button">
            <input type="submit" routerLink="/login" value="Login">
        </div>

        <p class="text">Continue without been logged</p>
        <div class="row-button">
            <input type="submit" routerLink="/startMenu" value="Continue">
        </div>


    </div>



</body>

</html>