<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="start-menu.component.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>
    <div class="container">
        <app-up-menu></app-up-menu>
        
    </div>

    <div class="container2">
        <app-down-menu-unlogged></app-down-menu-unlogged>
    </div>
    

    <app-game-info></app-game-info>
    <app-game-info></app-game-info>
    <app-game-info></app-game-info>
    <app-game-info></app-game-info>
    <app-game-info></app-game-info>
    <app-game-info></app-game-info>
    <app-game-info></app-game-info>




</body>

</html>